<%- include("partials/header.ejs") %> 
<h1>PLANT HEAVEN</h1>
<p>Pick a plant!</p>
<p>
    <a href="/houseplant/monsterra">Perhaps Monsterra?</a>
</p>
<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plants1-1551895073.png" alt="Collection of plants">