body {
    font-family: 'Nunito Sans', sans-serif;
    background: #32AEAC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #32AEAC, #CEF3EC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #32AEAC, #CEF3EC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    background-color: #0597a1;
    color: white;
    margin: 0;
    padding: 10px 20px;
    /* text-transform: uppercase; */
    font-size: 24px;
    font-weight: bold;
}

span {
    color: white;
    background-color: rgba(252, 34, 27, 0.7);
    height: 40px;
    margin-right: 20px;
    text-align: center;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

input {
    font-size: 18px;
    color: #0597a1;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus{
    background-color: white;
    border: 3px solid #0597a1;
    outline-style: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    color: #3f3e3e;
    background-color: white;
    height: 40px;
    line-height: 40px;
}

li:nth-child(2n){                   /*alternate between every other li*/
    background-color: #f7f7f7;
}

li:hover span {
    width: 40px;
    opacity: 1;
}

#container {
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

::placeholder {
    opacity: 0.4;
    font-size: 14px;
}

.fa-pen {
    float: right;
    margin-top: 8px;
}

.done {
    color: gray;
    text-decoration: line-through;
}